* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: slategray;
}

.container {
    display: grid;
    justify-content: center;
    margin:15rem;
    gap:1rem;
}

.check{
    margin-left:4.5rem;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}